In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/raw/resume_data_1.csv')
df.head()

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,online_links,issue_dates,expiry_dates,﻿job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],...,NaN,NaN,NaN,Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],...,NaN,NaN,NaN,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000
2,NaN,NaN,"['Software Development', 'Machine Learning', '...","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['N/A'],['N/A'],['Electronics/Telecommunication'],['Axis Bank Limited'],...,NaN,NaN,NaN,"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,NaN,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667
3,NaN,To obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...","['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],[None],[None],['Computer Applications'],"['Company Name ï¼ City , State', 'Company Name...",...,NaN,NaN,NaN,Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000
4,NaN,Professional accountant with an outstanding wo...,"['Analytical reasoning', 'Compliance testing k...",['Kent State University'],['Bachelor of Business Administration'],[None],['3.84'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...",...,[None],[None],"['February 15, 2021']",Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000

In [4]:
resumes = df.iloc[:, :28]
jobs = df.iloc[:, 28:-1]

# Jobs

In [5]:
jobs.columns

Index(['﻿job_position_name', 'educationaL_requirements',
       'experiencere_requirement', 'age_requirement', 'responsibilities.1',
       'skills_required'],
      dtype='object')

In [6]:
jobs['combined'] = jobs.apply(lambda row: " ".join(row.astype(str).values), axis=1)

In [7]:
jobs.shape

(9544, 7)

In [8]:
unique_jobs = jobs.drop_duplicates()
unique_jobs.shape

(28, 7)

# Resumes

In [9]:
resumes.shape

(9544, 28)

In [10]:
resumes.columns

Index(['address', 'career_objective', 'skills', 'educational_institution_name',
       'degree_names', 'passing_years', 'educational_results', 'result_types',
       'major_field_of_studies', 'professional_company_names', 'company_urls',
       'start_dates', 'end_dates', 'related_skils_in_job', 'positions',
       'locations', 'responsibilities', 'extra_curricular_activity_types',
       'extra_curricular_organization_names',
       'extra_curricular_organization_links', 'role_positions', 'languages',
       'proficiency_levels', 'certification_providers', 'certification_skills',
       'online_links', 'issue_dates', 'expiry_dates'],
      dtype='object')

In [11]:
resumes.duplicated().sum()

0

In [12]:
resumes['combined'] = resumes.apply(lambda row: " ".join(row.astype(str).values), axis=1)

In [13]:
resumes['combined']

0       nan Big data analytics working and database wa...
1       nan Fresher looking to join as a data analyst ...
2       nan nan ['Software Development', 'Machine Lear...
3       nan To obtain a position in a fast-paced busin...
4       nan Professional accountant with an outstandin...
                              ...
9539    nan nan ['Mathematical modelling', 'Machine Le...
9540    nan Expertise EDA modeler. I like to learn wha...
9541    nan Looking for roles related to application d...
9542    nan nan ['Machine Learning', 'Natural Language...
9543    nan nan ['assisted living', 'interpersonal and...
Name: combined, Length: 9544, dtype: object

## Creating raw combined strings for jobs and resumes:

In [14]:
combined_jobs = jobs['combined']
combined_resumes = resumes['combined']

In [15]:
type(combined_jobs)

pandas.core.series.Series

In [16]:
combined_jobs

0       Senior Software Engineer B.Sc in Computer Scie...
1       Machine Learning (ML) Engineer M.Sc in Compute...
2       Executive/ Senior Executive- Trade Marketing, ...
3       Business Development Executive Bachelor/Honors...
4       Senior iOS Engineer Bachelor of Science (BSc) ...
                              ...
9539    Data Engineer Bachelor of Science (BSc) 5 to 8...
9540    Executive/ Sr. Executive -IT Bachelor of Scien...
9541    Executive - VAT BBA in Accounting and Finance ...
9542    Asst. Manager/ Manger (Administrative) Bachelo...
9543    Civil Engineer B.Sc in Civil Engineering from ...
Name: combined, Length: 9544, dtype: object

In [17]:
combined_jobs = combined_jobs.drop_duplicates()

In [22]:
combined_jobs

0      Senior Software Engineer B.Sc in Computer Scie...
1      Machine Learning (ML) Engineer M.Sc in Compute...
2      Executive/ Senior Executive- Trade Marketing, ...
3      Business Development Executive Bachelor/Honors...
4      Senior iOS Engineer Bachelor of Science (BSc) ...
5      AI Engineer Bachelors or Masters degree in Com...
8      Mechanical Engineer Bachelor of Science (BSc) ...
10     Mechanical Designer Bachelor’s degree in Mecha...
11     Asst. Manager/ Manger (Administrative) Bachelo...
15     Database Administrator (DBA) Bachelor of Scien...
16     System Administrator (Operation & Maintenance ...
18     Project Coordinator (Civil) •Bachelor of Busin...
19     Executive/ Sr. Executive -IT Bachelor of Scien...
21     Network Support Engineer Diploma, Bachelor/Hon...
23     Intern (Generative AI Engineering - 2D/3D Imag...
24     Executive - VAT BBA in Accounting and Finance ...
26     Sr.Officer / Executive - Internal Audit Master...
27     Management Trainee - Mechanical Fresh graduate...
30     HR Officer •Bachelor of Business Administratio...
31     DevOps Engineer Bachelor/Honors At least 3 yea...
38     Data Engineer Bachelor of Science (BSc) 5 to 8...
42     Head of Internal Control & Compliance (ICC) - ...
43     Full Stack Developer (Python,React js) Bachelo...
47     Civil Engineer B.Sc in Civil Engineering from ...
49     Data Science Engineer Bachelor of Science (BSc...
116    Manager- Human Resource Management (HRM)\n Mas...
128    Marketing Officer Bachelor/Honors At least 1 y...
135    Site Engineer Bachelor of Science (BSc) in Civ...
Name: combined, dtype: object

In [23]:
combined_jobs.to_csv('../data/processed/job_strings.csv')
combined_resumes.to_csv('../data/processed/resume_strings.csv')